/* Generales */

h2 {
  color:#1ebba3;
}

.imagenes {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
.desaparecen {
  display: none;
}
}

@media (min-width: 992px) {
  .aparecen {
    display: none;
  }
  }

/* Inicio */

header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/clase-con-alumnos-y-profesora.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: rgba(0, 0 ,0, 0.5) !important;
  }

@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover { 
  color:#1ebba3;
}

header .container {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  margin: auto;
}

header .container h1 {
  letter-spacing: 0.1em;
}

.boton {
  background-color: transparent;
  color: #f8f9fa;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: .5rem 1rem;
  border: 2px solid #f8f9fa;
  border-radius: .3rem;
}

.boton:hover {
  color: #f8f9fa;
  text-decoration: none;
}

.boton:active {
  color: #1ebba3;
  border: 2px solid #1ebba3;
  outline: 0;
}

.boton:focus {
  outline: 0;
}

/* Introducción */

#introduccion {
  clear: both;
}

/* Introducción */

/* Autores */

.card {
max-width: 18rem;
margin: 0 auto;
}

/* Autores */

/* Datos */

.lista-datos ol {
  counter-reset: item;
}

.lista-datos li {
  display: block;
}

.lista-datos li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.tachado {
  text-decoration: line-through;
}

/* Footer */
.enlace-footer {
  color: white;
  text-decoration: underline;
}
/* Footer */